
<h4 class="helper">State 1 — 3 columns</h4>

<div class="schedule">
    <div class="container">
        <h1 class="heading heading--title">Schedule</h1>
        <p class="heading heading--subtitle">Apart from working on effective products for businesses, our specialists organize educational<br>programs for business owners and managers.</p>
        <div class="diary diary--small js-diary">
            <header class="row row--heading row">
                <div class="row__item row__item--3">
                    <span class="heading heading--large">Date</span>
                </div>
                <div class="row__item row__item--3">
                    <span class="heading heading--large">Time</span>
                </div>
                <div class="row__item row__item--3">
                    <span class="heading heading--large">Class</span>
                </div>
            </header>
            <article class="row js-accordeon">
                <header class="row__item row__item--3">
                    <span class="heading">Monday</span>
                </header>
                <div class="row__item row__item--2-3 js-accordeon-body">
                    <div class="row row--inner js-subject">
                        <div class="row__item--2">
                            <span class="text">6:30 pm - 7:30 pm</span>
                        </div>
                        <div class="row__item--2">
                            <span class="text">Workshop</span>
                        </div>
                    </div>
                    <div class="row row--inner js-subject">
                        <div class="row__item--2">
                            <span class="text">7:45 pm - 8:45 pm</span>
                        </div>
                        <div class="row__item--2">
                            <span class="text">Seminar</span>
                        </div>
                    </div>
                </div>
            </article>
            <article class="row js-accordeon">
                <header class="row__item row__item--3">
                    <span class="heading">Tuesday</span>
                </header>
                <div class="row__item row__item--2-3 js-accordeon-body">
                    <div class="row row--inner js-subject">
                        <div class="row__item--2">
                            <span class="text">6:30 pm - 7:30 pm</span>
                        </div>
                        <div class="row__item--2">
                            <span class="text">Workshop</span>
                        </div>
                    </div>
                    <div class="row row--inner js-subject">
                        <div class="row__item--2">
                            <span class="text">7:45 pm - 8:45 pm</span>
                        </div>
                        <div class="row__item--2">
                            <span class="text">Seminar</span>
                        </div>
                    </div>
                </div>
            </article>
            <article class="row js-accordeon">
                <header class="row__item row__item--3">
                    <span class="heading">Wednesday</span>
                </header>
                <div class="row__item row__item--2-3 js-accordeon-body">
                    <div class="row row--inner js-subject">
                        <div class="row__item--2">
                            <span class="text">6:30 pm - 7:30 pm</span>
                        </div>
                        <div class="row__item--2">
                            <span class="text">Workshop</span>
                        </div>
                    </div>
                    <div class="row row--inner js-subject">
                        <div class="row__item--2">
                            <span class="text">7:45 pm - 8:45 pm</span>
                        </div>
                        <div class="row__item--2">
                            <span class="text">Seminar</span>
                        </div>
                    </div>
                </div>
            </article>
            <article class="row js-accordeon">
                <header class="row__item row__item--3">
                    <span class="heading">Thursday</span>
                </header>
                <div class="row__item row__item--2-3 js-accordeon-body">
                    <div class="row row--inner js-subject">
                        <div class="row__item--2">
                            <span class="text">6:30 pm - 7:30 pm</span>
                        </div>
                        <div class="row__item--2">
                            <span class="text">Workshop</span>
                        </div>
                    </div>
                    <div class="row row--inner js-subject">
                        <div class="row__item--2">
                            <span class="text">7:45 pm - 8:45 pm</span>
                        </div>
                        <div class="row__item--2">
                            <span class="text">Seminar</span>
                        </div>
                    </div>
                </div>
            </article>
            <article class="row js-accordeon">
                <header class="row__item row__item--3">
                    <span class="heading">Friday</span>
                </header>
                <div class="row__item row__item--2-3 js-accordeon-body">
                    <div class="row row--inner js-subject">
                        <div class="row__item--2">
                            <span class="text">6:30 pm - 7:30 pm</span>
                        </div>
                        <div class="row__item--2">
                            <span class="text">Workshop</span>
                        </div>
                    </div>
                    <div class="row row--inner js-subject">
                        <div class="row__item--2">
                            <span class="text">7:45 pm - 8:45 pm</span>
                        </div>
                        <div class="row__item--2">
                            <span class="text">Seminar</span>
                        </div>
                    </div>
                </div>
            </article>
            <article class="row js-accordeon">
                <header class="row__item row__item--3">
                    <span class="heading">Saturday</span>
                </header>
                <div class="row__item row__item--2-3 js-accordeon-body">
                    <div class="row row--inner js-subject">
                        <div class="row__item--2">
                            <span class="text">6:30 pm - 7:30 pm</span>
                        </div>
                        <div class="row__item--2">
                            <span class="text">Workshop</span>
                        </div>
                    </div>
                    <div class="row row--inner js-subject">
                        <div class="row__item--2">
                            <span class="text">7:45 pm - 8:45 pm</span>
                        </div>
                        <div class="row__item--2">
                            <span class="text">Seminar</span>
                        </div>
                    </div>
                </div>
            </article>
            <article class="row js-accordeon">
                <header class="row__item row__item--3">
                    <span class="heading">Sunday</span>
                </header>
                <div class="row__item row__item--2-3 js-accordeon-body">
                    <div class="row row--inner js-subject">
                        <div class="row__item--2">
                            <span class="text">6:30 pm - 7:30 pm</span>
                        </div>
                        <div class="row__item--2">
                            <span class="text">Workshop</span>
                        </div>
                    </div>
                    <div class="row row--inner js-subject">
                        <div class="row__item--2">
                            <span class="text">7:45 pm - 8:45 pm</span>
                        </div>
                        <div class="row__item--2">
                            <span class="text">Seminar</span>
                        </div>
                    </div>
                </div>
            </article>
            <div class="centered buttons">
                <button class="btn btn--secondary">Download a schedule</button>
                <button class="btn btn--primary">Book a class</button>
            </div>
        </div>
    </div>
</div>